- if flash[:notice]
  .notice
    = flash[:notice]

.control
  %div
    %form.pure-form{action: '/schedule', method: 'post'}
      毎日
      %select{name: 'hours'}
        - (0..23).each do |hours|
          %option{value: hours}= hours
      時ごろに
      %button.pure-button{type: 'submit'} 予約する

  %div
    %div
      今すぐアイコン画像を
      %button#icon-change.pure-button 変更する

    #yryr-icon

:javascript
  $('#icon-change').click(function() {
    var spinner = new Spinner({lines: 13, length: 28, width: 14, radius: 42, scale: 0.5}).spin();

    $.ajax({
      url: '/change',
      method: 'POST',
      beforeSend: function() { $('#yryr-icon').append(spinner.el); }
    }).done(function(data) {
      $('#yryr-icon').html(data);
    }).fail(function() {
      $('#yryr-icon').html('ふぇぇ、何かエラーが起きたみたいだよぉ＞＜');
    }).always(function() {
      spinner.stop();
    });
  });
