= flash[:success]
= flash[:error]

.div
  %form{action: '/schedule', method: 'post'}
    毎日
    %select{name: 'hours'}
      - (0..23).each do |hours|
        %option{value: hours}= hours
    時ごろに
    %input{type: 'submit', value: '変更する'}

.div
  %a#icon-change{href: '#'} アイコン画像を今すぐ変更する

.yryr-icon

:javascript
  $('#icon-change').click(function () {
    $.ajax({
      url: '/change'
    }).done(function (data) {
      $('.yryr-icon').html(data)
    }).fail(function () {
      $('.yryr-icon').html('ふぇぇ、何かエラーが起きたみたいだよぉ＞＜')
    });
  });
