!!!
%html
  %head
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'}
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js'}
    %link{rel: :stylesheet, href: '/stylesheets/application.css'}
    %link{rel: :stylesheet, href: 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css'}

  %body
    %header
      %h1 TwitterのアイコンをランダムでYRYRするやつ
    .content
      = yield
    %footer
