= flash[:notice]

.description
  %p <a href='http://yuruyuri.com/3hai/special/icon.php'>アニメ「ゆるゆり」公式サイト</a> からランダムに選択したアイコンをあなたの Twitter アイコンに設定します。
  %p 「今すぐ変更する」 以外にも、 「定期実行の予約」 ができます。
  %p ※現在設定されている Twitter アイコンに戻す機能はありませんので注意してください。

.signin
  %a{href: '/auth/twitter'}
    %img{src: '/sign-in-with-twitter-gray.png'}
