= flash[:notice]

.description
  %p <a href='http://yuruyuri.com/3hai/special/icon.php'>アニメ「ゆるゆり」公式サイト</a> からランダムに選択したアイコンをあなたの Twitter アイコンに設定します。
  %p 「今すぐ変更する」 以外にも 「定期実行の予約」 が可能です。
  %p ※元の Twitter アイコンに戻す機能はありませんので、ご自身でバックアップしてから利用されることをオススメします。

.signin
  %a.pure-button{href: '/auth/twitter'}
    %span.fa.fa-twitter
    Sign in with twitter
