%h1{style: 'text-align: center'} TwitterのアイコンをランダムでYRYRするやつ

.div{style: 'text-align: center'}
  = flash[:success]
  = flash[:error]

  %a{href: '/auth/twitter'}
    %img{src: '/sign-in-with-twitter-gray.png'}
