header
  h1
    margin: 0.5rem

body
  display: flex
  flex-direction: column
  align-items: center

  .content
    display: flex
    flex-direction: column
    justify-content: flex-start

    .control
      display: flex
      justify-content: center

      margin-bottom: 0.5rem

      div
        display: inline-block
        margin: 0 1rem

    #yryr-icon
      display: flex
      justify-content: center

      margin: 1rem 0
      height: 70vh

      img
        justify-content: center

        height: 100%
